.filter-wrapper {
  background-color: #e9ecef;
  padding-bottom: 20px;
}

.filter-wrapper > div {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width:460px) {
  .filter-wrapper > div {
    flex-direction: column;
  }
  .filter-wrapper > div > button {
    margin-top: 10px;
  }
}